LogicApps/QuestionWrittenAnswerCorrection/GetList.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "azureFunctionsName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Azure Functions."
      }
    },
    "releaseId": {
      "type": "int",
      "metadata": {
        "description": "The identifier of the current release record."
      }
    }
  },
  "variables": {
    "logicAppsSetting_name": "questionwrittenanswercorrection"
  },
  "resources": [
    {
      "comments": "Logic App that obtains list of answer corrections for written answers from solr index.",
      "type": "Microsoft.Logic/workflows",
      "name": "[concat('getlist-',variables('logicAppsSetting_name'))]",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "tags": {
        "ReleaseId": "[parameters('releaseId')]"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "For_each": {
              "actions": {
                "Get_list_page": {
                  "inputs": {
                    "body": {
                      "batchId": "@triggerOutputs()['headers']['x-ms-client-request-id']",
                      "pageNo": "@item()"
                    },
                    "host": {
                      "triggerName": "manual",
                      "workflow": {
                        "id": "[resourceId('Microsoft.Logic/workflows/',concat('getlistpage-',variables('logicAppsSetting_name')))]"
                      }
                    },
                    "retryPolicy": {
                      "count": 2,
                      "interval": "PT20S",
                      "type": "fixed"
                    }
                  },
                  "runAfter": {},
                  "type": "Workflow"
                }
              },
              "foreach": "@range(0,add(div(int(json(body('Get_List')).response.result['@numFound']),50),1))",
              "operationOptions": "Sequential",
              "runAfter": {
                "Get_List": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_List": {
              "inputs": {
                "headers": {
                  "Accept": "application/json"
                },
                "method": "GET",
                "retryPolicy": {
                  "count": 2,
                  "interval": "PT20S",
                  "type": "fixed"
                },
                "uri": "http://13.93.40.140:8983/solr/select/?q=correctedItem_uri%3A*+AND+dateLastModified_dt%3A%5B@{ addDays(startOfDay(utcNow()), -1)}+TO+*%5D&fl=highlighting"
              },
              "runAfter": {
                "Response": [
                  "Succeeded"
                ]
              },
              "type": "Http"
            },
            "LogicAppsErrorMessageLog": {
              "inputs": {
                "body": {
                  "action": "@actions('Get_List')",
                  "batchId": "@triggerOutputs()['headers']['x-ms-client-request-id']",
                  "workflow": "@workflow()"
                },
                "function": {
                  "id": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/sites/',parameters('azureFunctionsName'),'/functions/LogicAppsErrorMessageLog')]"
                },
                "retryPolicy": {
                  "type": "none"
                }
              },
              "runAfter": {
                "Get_List": [
                  "Failed"
                ]
              },
              "type": "Function"
            },
            "Response": {
              "inputs": {
                "headers": {
                  "batchId": "@triggerOutputs()['headers']['x-ms-client-request-id']"
                },
                "statusCode": 202
              },
              "runAfter": {},
              "type": "Response"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {},
          "triggers": {
            "manual": {
              "inputs": {
                "schema": {}
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {
        }
      },
      "resources": [],
      "dependsOn": []
    }
  ]
}