LogicApps/WebLink/GetList.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "serviceBusName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Service Bus."
      }
    },
    "azureFunctionsName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Azure Functions."
      }
    },
    "releaseId": {
      "type": "int",
      "metadata": {
        "description": "The identifier of the current release record."
      }
    }
  },
  "variables": {
    "sharepointConnectionName": "sharepoint"
  },
  "resources": [
    {
      "comments": "Logic App that obtains list of web links from sharepoint.",
      "type": "Microsoft.Logic/workflows",
      "name": "getlist-weblink",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "tags": {
        "ReleaseId": "[parameters('releaseId')]"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "For_each": {
              "actions": {
                "Send_message": {
                  "inputs": {
                    "body": {
                      "Properties": {
                        "batchId": "@{outputs('Get_BatchId')}",
                        "url": "@{items('For_each')?['ID']}"
                      }
                    },
                    "host": {
                      "api": {
                        "runtimeUrl": "[concat('https://logic-apis-',resourceGroup().location,'.azure-apim.net/apim/servicebus')]"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/weblink/messages",
                    "retryPolicy": {
                      "count": 2,
                      "interval": "PT20S",
                      "type": "fixed"
                    }
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                }
              },
              "foreach": "@body('Get_items')?['value']",
              "runAfter": {
                "Get_items": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_BatchId": {
              "inputs": "@triggerOutputs()['headers']['x-ms-client-request-id']",
              "runAfter": {},
              "type": "Compose"
            },
            "Get_items": {
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://hopuk.sharepoint.com/sites/datateam/datasources'))}/tables/@{encodeURIComponent('7cb6d78b-5f45-49d2-bb77-009f71a83390')}/items",
                "queries": {
                  "$filter": "x/Id eq 6 or x/Id eq 7 or x/Id eq 8 or x/Id eq 9 or x/Id eq 10 or x/Id eq 11",
                  "$top": 10000
                }
              },
              "runAfter": {
                "Response": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "LogicAppsErrorMessageLog": {
              "inputs": {
                "body": {
                  "action": "@actions('Get_items')",
                  "batchId": "@{outputs('Get_BatchId')}",
                  "workflow": "@workflow()"
                },
                "function": {
                  "id": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/sites/',parameters('azureFunctionsName'),'/functions/LogicAppsErrorMessageLog')]"
                },
                "retryPolicy": {
                  "type": "None"
                }
              },
              "runAfter": {
                "Get_items": [
                  "Failed"
                ]
              },
              "type": "Function"
            },
            "Response": {
              "inputs": {
                "headers": {
                  "batchId": "@{outputs('Get_BatchId')}"
                },
                "statusCode": 202
              },
              "runAfter": {
                "Get_BatchId": [
                  "Succeeded"
                ]
              },
              "type": "Response"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "inputs": {
                "schema": {}
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "connectionId": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/',parameters('serviceBusName'))]",
                "connectionName": "[parameters('serviceBusName')]",
                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/servicebus')]"
              },
              "sharepointonline": {
                "connectionId": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/',variables('sharepointConnectionName'))]",
                "connectionName": "[variables('sharepointConnectionName')]",
                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/sharepointonline')]"
              }
            }
          }
        }
      },
      "resources": [],
      "dependsOn": []
    }
  ]
}