LogicApps/QuestionWrittenAnswer/GetListPage.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "azureFunctionsName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Azure Functions."
      }
    },
    "serviceBusName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Service Bus."
      }
    },
    "releaseId": {
      "type": "int",
      "metadata": {
        "description": "The identifier of the current release record."
      }
    }
  },
  "variables": {
    "logicAppsSetting_name": "questionwrittenanswer"
  },
  "resources": [
    {
      "comments": "Logic App that obtains list of e-petitions.",
      "type": "Microsoft.Logic/workflows",
      "name": "[concat('getlistpage-',variables('logicAppsSetting_name'))]",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "tags": {
        "ReleaseId": "[parameters('releaseId')]"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "For_each": {
              "actions": {
                "Send_message": {
                  "inputs": {
                    "body": {
                      "Properties": {
                        "batchId": "@triggerBody()['batchId']",
                        "url": "@{item().UIN}"
                      }
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "[concat('/',variables('logicAppsSetting_name'),'/messages')]",
                    "retryPolicy": {
                      "count": 2,
                      "interval": "PT20S",
                      "type": "fixed"
                    }
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                }
              },
              "foreach": "@body('Get_List').Response",
              "runAfter": {
                "Get_List": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_List": {
              "inputs": {
                "headers": {
                  "Accept": "application/json"
                },
                "method": "GET",
                "retryPolicy": {
                  "count": 2,
                  "interval": "PT20S",
                  "type": "fixed"
                },
                "uri": "https://eqm-services.digiminster.com/writtenquestions/list?parameters.skip=@{mul(50,triggerBody()['pageNo'])}&parameters.take=50"
              },
              "runAfter": {
                "Response": [
                  "Succeeded"
                ]
              },
              "type": "Http"
            },
            "LogicAppsErrorMessageLog": {
              "inputs": {
                "body": {
                  "action": "@actions('Get_List')",
                  "batchId": "@triggerBody()['batchId']",
                  "workflow": "@workflow()"
                },
                "function": {
                  "id": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/sites/',parameters('azureFunctionsName'),'/functions/LogicAppsErrorMessageLog')]"
                },
                "retryPolicy": {
                  "type": "none"
                }
              },
              "runAfter": {
                "Get_List": [
                  "Failed"
                ]
              },
              "type": "Function"
            },
            "Response": {
              "inputs": {
                "headers": {
                  "batchId": "@triggerBody()['batchId']"
                },
                "statusCode": 202
              },
              "runAfter": {},
              "type": "Response"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "inputs": {
                "schema": {
                  "properties": {
                    "batchId": {
                      "type": "string"
                    },
                    "pageNo": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "pageNo",
                    "batchId"
                  ],
                  "type": "object"
                }
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "connectionId": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/',parameters('serviceBusName'))]",
                "connectionName": "[parameters('serviceBusName')]",
                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/servicebus')]"
              }
            }
          }
        }
      },
      "resources": [],
      "dependsOn": []
    }
  ]
}