LogicApps/GetListLoop-Sql.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "base64Settings": {
      "type": "string",
      "metadata": {
        "description": "Base64 (UTF-8) encoded array of settings."
      }
    },
    "serviceBusName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Service Bus."
      }
    },
    "azureFunctionsName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Azure Functions."
      }
    },
    "operationsResourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Resource Group where diagnostics storage is."
      }
    },
    "diagnosticsStorageAccountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the diagnostics storage account."
      }
    },
    "releaseId": {
      "type": "int",
      "metadata": {
        "description": "The identifier of the current release record."
      }
    }
  },
  "variables": {
    "sqlConnectionName": "sql",
    "logicAppsSettings": "[base64ToJson(parameters('base64Settings'))]"
  },
  "resources": [
    {
      "comments": "Logic App that obtains list of records from sql source.",
      "type": "Microsoft.Logic/workflows",
      "copy": {
        "name": "workflowcopy",
        "count": "[length(variables('logicAppsSettings'))]"
      },
      "name": "[concat('getlist-',variables('logicAppsSettings')[copyIndex()].name)]",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "tags": {
        "ReleaseId": "[parameters('releaseId')]"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "For_each": {
              "actions": {
                "Send_message": {
                  "inputs": {
                    "body": {
                      "Properties": {
                        "batchId": "@triggerOutputs()['headers']['x-ms-client-request-id']",
                        "url": "[variables('logicAppsSettings')[copyIndex()].idObject]"
                      }
                    },
                    "host": {
                      "api": {
                        "runtimeUrl": "[concat('https://logic-apis-',resourceGroup().location,'.azure-apim.net/apim/servicebus')]"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "[concat('/',variables('logicAppsSettings')[copyIndex()].name,'/messages')]",
                    "retryPolicy": {
                      "count": 2,
                      "interval": "PT20S",
                      "type": "fixed"
                    }
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                }
              },
              "foreach": "[variables('logicAppsSettings')[copyIndex()].foreachObject]",
              "runAfter": {
                "Get_items": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_items": {
              "inputs": {
                "body": {
                  "query": "[variables('logicAppsSettings')[copyIndex()].listUri]"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sql']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/default/query/sql"
              },
              "runAfter": {
                "Response": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "LogicAppsErrorMessageLog": {
              "inputs": {
                "body": {
                  "action": "@actions('Get_items')",
                  "batchId": "@triggerOutputs()['headers']['x-ms-client-request-id']",
                  "workflow": "@workflow()"
                },
                "function": {
                  "id": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/sites/',parameters('azureFunctionsName'),'/functions/LogicAppsErrorMessageLog')]"
                },
                "retryPolicy": {
                  "type": "none"
                }
              },
              "runAfter": {
                "Get_items": [
                  "Failed"
                ]
              },
              "type": "Function"
            },
            "Response": {
              "inputs": {
                "headers": {
                  "batchId": "@triggerOutputs()['headers']['x-ms-client-request-id']"
                },
                "statusCode": 202
              },
              "runAfter": {
              },
              "type": "Response"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "inputs": {
                "schema": {}
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "connectionId": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/',parameters('serviceBusName'))]",
                "connectionName": "[parameters('serviceBusName')]",
                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/servicebus')]"
              },
              "sql": {
                "connectionId": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/',variables('sqlConnectionName'))]",
                "connectionName": "[variables('sqlConnectionName')]",
                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/',variables('sqlConnectionName'))]"
              }
            }
          }
        }
      },
      "resources": [
        {
          "type": "providers/diagnosticSettings",
          "name": "Microsoft.Insights/workflow",
          "apiVersion": "2017-05-01-preview",
          "properties": {
            "name": "Microsoft.Insights/workflow",
            "storageAccountId": "[resourceId(subscription().subscriptionId,parameters('operationsResourceGroupName'),'Microsoft.Storage/storageAccounts', parameters('diagnosticsStorageAccountName'))]",
            "logs": [
              {
                "category": "WorkflowRuntime",
                "enabled": true,
                "retentionPolicy": {
                  "days": 0,
                  "enabled": false
                }
              }
            ],
            "metrics": [
              {
                "category": "AllMetrics",
                "enabled": true,
                "retentionPolicy": {
                  "enabled": false,
                  "days": 0
                }
              }
            ]
          },
          "dependsOn": [
            "[concat('Microsoft.Logic/workflows/','getlist-',variables('logicAppsSettings')[copyIndex()].name)]"
          ]
        }
      ],
      "dependsOn": []
    }
  ]
}