LogicApps/UpdateLoop.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppsSetting_name": {
            "type": "array",
            "metadata": {
                "description": "Names for Service Bus queues/workflows."
            }
        },
        "azureFunctionsResourceGroupName": {
            "type": "string",
            "metadata": {
                "description": "Name of the Resource Group where Azure Functions are."
            }
        },
        "logicAppsSetting_transformationFunctionUri": {
            "type": "array",
            "metadata": {
                "description": "Endpoints of the Azure Functions that perform transformation and update."
            }
        },
        "azureFunctionsName": {
            "type": "string",
            "metadata": {
                "description": "Name of the Azure Functions."
            }
        },
        "environment": {
            "type": "string",
            "metadata": {
                "description": "Name of the environment that is being deployed to."
            }
        },
        "releaseId": {
            "type": "int",
            "metadata": {
                "description": "The identifier of the current release record."
            }
        }
    },
    "variables": {},
    "resources": [
        {
            "comments": "Logic App that updates data in GraphDB.",
            "type": "Microsoft.Logic/workflows",
            "copy": {
                "name": "workflowcopy",
                "count": "[length(parameters('logicAppsSetting_name'))]"
            },
            "name": "[concat('update-',parameters('logicAppsSetting_name')[copyIndex()])]",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "tags": {
                "34a4fc9c-8817-4c95-8e1b-76e27fbe2699": "f009d98d-028e-48bc-af57-944f3dd9a77c",
                "Department": "Data & Search",
                "Environment": "[parameters('environment')]",
                "ReleaseId": "[parameters('releaseId')]",
                "Type": "Logic App"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Condition": {
                            "actions": {},
                            "else": {
                                "actions": {
                                    "LogicAppsErrorMessageLog": {
                                        "inputs": {
                                            "body": {
                                                "action": "@actions('Update_Webhook')",
                                                "workflow": "@workflow()",
                                                "batchId": "@triggerBody().message.properties.batchId"
                                            },
                                            "function": {
                                                "id": "[concat(subscription().id,'/resourceGroups/',parameters('azureFunctionsResourceGroupName'),'/providers/Microsoft.Web/sites/',parameters('azureFunctionsName'),'/functions/LogicAppsErrorMessageLog')]"
                                            },
                                            "retryPolicy": {
                                                "type": "None"
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "Function"
                                    }
                                }
                            },
                            "expression": "@equals(body('Update_Webhook'), 'OK')",
                            "runAfter": {
                                "Update_Webhook": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "LogicAppsErrorMessageLog_2": {
                            "inputs": {
                                "body": {
                                    "action": "@actions('Update_Webhook')",
                                    "workflow": "@workflow()",
                                    "batchId": "@triggerBody().message.properties.batchId"
                                },
                                "function": {
                                    "id": "[concat(subscription().id,'/resourceGroups/',parameters('azureFunctionsResourceGroupName'),'/providers/Microsoft.Web/sites/',parameters('azureFunctionsName'),'/functions/LogicAppsErrorMessageLog')]"
                                },
                                "retryPolicy": {
                                    "type": "None"
                                }
                            },
                            "runAfter": {
                                "Update_Webhook": [
                                    "Failed"
                                ]
                            },
                            "type": "Function"
                        },
                        "Update_Webhook": {
                            "inputs": {
                                "retryPolicy": {
                                    "type": "None"
                                },
                                "subscribe": {
                                    "body": {
                                        "callbackUrl": "@listCallbackUrl()",
                                        "url": "@triggerBody().message.properties.url",
                                        "batchId": "@triggerBody().message.properties.batchId"
                                    },
                                    "method": "POST",
                                    "uri": "[parameters('logicAppsSetting_transformationFunctionUri')[copyIndex()]]"
                                },
                                "unsubscribe": {}
                            },
                            "runAfter": {},
                            "type": "HttpWebhook"
                        },
                        "Response": {
                            "inputs": {
                                "statusCode": 200
                            },
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ],
                                "LogicAppsErrorMessageLog_2": [
                                    "Succeeded",
                                    "Skipped"
                                ]
                            },
                            "type": "Response"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                },
                "parameters": {}
            },
            "resources": [],
            "dependsOn": []
        }
    ]
}